body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}



.navbar {
    text-align: center;
    position: fixed;
    background-color: #ffa366;
    top: 0;
    width: 100%;
    padding: 20px 20px 10px 20px;
}

.navbar a {
  color: black;  
  padding-right: 30px;
  padding-left: 30px;
}

.intro {
  background-color: #ffa366;
  top: 0; 
  min-height: 200px;
  padding-top: 80px;
  text-align: center;
  margin-bottom: 30px;
}

#me {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 100%;
  border: 3px solid black;
}

.card-toto {
  margin: 10px;
  padding: 10px;
  background-color: grey;
  border-radius: 20px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.profile {
  border-radius: 50%;
  padding-top: 50px;
}

.border-black {
  border: 3px solid black;
  margin: 20px 20px 20px 20px;
  background-color: #933cad;
}

.border-black h2 {
  color: white;
}

.card {
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 300px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.picture {
  height: 180px;
}

.row p {
  text-align: center;
}

footer {
    margin-top: 50px;
    max-width: 100%;
    text-align: center;
    font-size: 85%;
    background-color: darkgray;
}

.fa {
  font-size: 60px;
  padding:  15px 15px 15px 15px;
  color: black;
}








